In [1]:
import plotly.offline as pyo
import plotly.graph_objs as go 
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/Pierian-Data/Plotly-Dashboards-with-Dash/master/Data/2018WinterOlympics.csv')

In [3]:
df.head()

   Rank            NOC  Gold  Silver  Bronze  Total
0     1         Norway    14      14      11     39
1     2        Germany    14      10       7     31
2     3         Canada    11       8      10     29
3     4  United States     9       8       6     23
4     5    Netherlands     8       6       6     20

In [24]:
trace0=go.Bar(x=df['NOC'],y=df['Gold'],name='Gold')
trace1=go.Bar(x=df['NOC'],y=df['Silver'],name='Silver')
trace2=go.Bar(x=df['NOC'],y=df['Bronze'],name='Bronze')
data=[trace0,trace1,trace2]
layout=go.Layout(title='Olympic Medal',xaxis=dict(title='Countries'),yaxis=dict(title='Count'),barmode='stack')
fig=go.Figure(data=data,layout=layout)

In [26]:
pyo.plot(fig,filename='Olympic-medal.html')

'Olympic-medal.html'